<li *ngIf="!isEdit" class="list-group-item rounded d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-start align-items-center">
        <input type="checkbox" [(ngModel)]="item.isCompleted" #isCompleted="ngModel" (change)="completeTask(item)" class="mr-3">
        <span>{{ index + 1 }}. {{ item.task }}</span>
    </div>
    <div class="btn-group btn-group-sm ml-3" role="group" aria-label="Basic example">
        <button (click)="edit()" type="button" class="btn btn-warning btn-sm"><i
                class="bi bi-pencil-square text-white"></i></button>
        <button type="button" (click)="deleteItem(item)" class="btn btn-danger"><i class="bi bi-trash"></i></button>
    </div>
</li>
<form #form="ngForm">
    <li *ngIf="isEdit" class="list-group-item rounded d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-start align-items-center">
            <input name="isCompleted" type="checkbox" [(ngModel)]="item.isCompleted" #isCompleted="ngModel"
                class="form-check mr-3" required>
            <input name="task" type="text" [(ngModel)]="item.task" #task="ngModel" class="form-control"
                placeholder="Task name" required>
        </div>
        <div class="btn-group btn-group-sm ml-3" role="group" aria-label="Basic example">
            <button type="button" [disabled]="!itemName" (click)="saveItem(item); isEdit=!isEdit"
                class="btn btn-success"><i class="bi bi-check-square"></i></button>
            <button type="button" (click)="isEdit=!isEdit" class="btn btn-danger"><i
                    class="bi bi-x-square"></i></button>
        </div>
    </li>
</form>